/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body {
	width: 100%;
	margin: 0 auto;
}

h1, h2 {
	font-family: "novecento_sans_wide", sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3rem;
}

.copyright, .menu {
	font-family: "novecento_sans_wide", sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.container {
	width: 1120px;
	margin: 0 auto;
}

.entry-header {
	display: flex;
	justify-content: center;
	text-align: center;
}


.entry-title {
	color: #fff;
	font-weight: 700;
	position: absolute;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.entry-content {
	margin: 0 auto;
	max-width: 800px;
}