/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.site-header .container, .site-header-green .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.home, .page-template-page-about {
	.site-header {
		background-color: transparent;
		border-bottom: none;
		padding: .5rem 0;
		position: absolute;
		width: 100%;
		z-index: 9999;
	}

	.site-branding {
		height: 33px;
		width: 50px;

		.logo {
			background:
				url('../../assets/images/logos/inhabitent-logo-tent-white.svg') no-repeat;
			background-size: 50px 33px;
			height: 33px;
		}
	}

	.fa-search {
		color: #fff;
		cursor: pointer;
		text-shadow: 1px 1px 2px #3d3d3d;
		margin-left: .75rem;
	}

	.fa-search:hover {
		color: #f5ecc4;
	}

	.search-form {
		margin-left: 1rem;
		input {
			color: #fff;
		}
	}

	::placeholder {
		color: #f5ecc4;
	}

	.menu {
		a {
			color: #fff;
			text-shadow: 1px 1px 2px #3d3d3d;
		}

		a:hover {
			color: #f5ecc4;
		}

		li {
			margin: 0 .75rem;
		}
	}
}

.site-header {
	background-color: rgba(255, 255, 255, .8);
	border-bottom: 1px solid #e1e1e1;
	padding: .5rem 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.site-branding {
	height: 33px;
	width: 50px;

	.logo {
		background:
			url('../../assets/images/logos/inhabitent-logo-tent.svg') no-repeat;
		background-size: 50px 33px;
		height: 33px;
	}
}

.fa-search {
	color: #248A83;
	cursor: pointer;
	margin-left: .75rem;
}

.fa-search:hover {
	color: #404040;
}

.search-form {
	margin-left: 1rem;
}

.site-header-green {
	background-color: rgba(255, 255, 255, .8);
	border-bottom: 1px solid #e1e1e1;
	padding: .5rem 0;
	position: fixed;
	width: 100%;
	z-index: 9999;

	.site-branding {
		height: 33px;
		width: 50px;

		.logo {
			background:
				url('../../assets/images/logos/inhabitent-logo-tent.svg') no-repeat;
			background-size: 50px 33px;
			height: 33px;
		}
	}

	.fa-search {
		color: #248A83;
		cursor: pointer;
		margin-left: .75rem;
		text-shadow: none;
	}

	.fa-search:hover {
		color: #404040;
	}

	.search-form {
		margin-left: 1rem;
	}

	.menu {
		a {
			color: #248A83;
			text-shadow: none;
		}

		a:hover {
			color: #404040;
		}

		li {
			margin: 0 .75rem;
		}
	}

	.search-form {
		margin-left: 1rem;
		input {
			color: #000;
		}
	}

	::placeholder {
		color: #404040;
	}
}


.menu {
	a {
		color: #248A83;
	}

	a:hover {
		color: #404040;
	}

	li {
		margin: 0 .75rem;
	}
}

.main-navigation {
	display: flex;
	align-items: center;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		// margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

input[type="search"] {
	background: transparent;
	border: 0;
	font-family: "novecento_sans_wide", sans-serif;
	text-transform: uppercase;
}

input:focus {
	outline: none;
}