/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home-hero {
	background:
    url('../../assets/images/logos/inhabitent-logo-full.svg') center no-repeat,
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.4), rgba(0,0,0,0.4)) center,
    url('../../assets/images/home-hero.jpg') top no-repeat;
  background-size:
    275px,
    cover,
    cover;
  height: 100vh;
}

.home-header {
  display: none;
}

.about-hero {
	background:
    linear-gradient(to bottom, rgba(0, 0, 0 ,0.4), rgba(0,0,0,0.4)) center,
    url('../../assets/images/about-hero.jpg') bottom no-repeat;
  background-size:
    cover,
    cover;
  height: 100vh;
}

.about {
  margin: 3rem;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 0 1rem;;
  }

  p {
    line-height: 1.75rem;
  }
}

.site-footer {
  background:
    url('../../assets/images/dark-wood.png');
  background-size: 512px 512px;
  margin-top: 4rem;
}

.site-info {
  display: flex;

  h3 {
    color: #d99054;
    font-family: "novecento_sans_wide", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 0.5rem 0 ;
  }
  
  p {
    margin-bottom: .5rem;
  }
}

.contact, .hours {
  color: #fff;
  margin: 3rem 0;
  width: 25%;
}

.hours {
  width: 50%;
}

.horizontal-logo {
  background:
    url('../../assets/images/logos/inhabitent-logo-text.svg') no-repeat;
  background-size: 100%;
  margin: 3.5rem 0 3rem;
  width: 25%;
}

.bold {
  font-weight: 700;
}

.copyright {
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.single-product-content {

  display: flex;
  justify-content: space-between;
  margin: 0 auto 3rem;
  padding-top: 8rem;
  width: 1120px;

  .entry-title {
    display: none;
  }

}

.product-image {
  width: 48%;
}

.product-title {
  color: #d99054;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: .75rem;
}

.product-content {
  line-height: 1.75rem;
  margin: 0;
  width: 48%;
}

.price {
  font-family: "novecento_sans_wide", sans-serif;
  font-size: 1.85rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.social-buttons {
  margin-top: 2rem;
}

.product-button {
  border: 1px solid #000;
  color: #000;
  font-family: "novecento_sans_wide", sans-serif;
  font-size: .9rem;
  padding: .6rem 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

.product-button:hover {
  color: #fff;
  border: 1px solid #248A83;
  background-color: #248A83;
}

.product-button:visited {
  color: #000;
}

.nav-previous, .nav-next {
  display: none;
}

.page-header {
  border-bottom: 1px dashed #a1a1a1;
  margin: 0 auto 2.5rem;
  padding-top: 7rem;
  text-align: center;
  width: 1120px;
}

.page-title {
  font-weight: 700;
  letter-spacing: .1rem;
}

.product-type {
  margin-bottom: 3rem;
  margin-left: 0;
  padding-left: 0;
}

.product-type li {
  color: #248A83;
  display: inline;
  font-family: "novecento_sans_wide", sans-serif;
  font-size: 1.15rem;
  margin: 1.5rem;
  text-transform: uppercase;
}

.product-type a {
  text-decoration: none;
}

.product-type a:visited {
  color: #248A83;
}